* {
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
    color: white;
    font-weight: lighter;
    /*border: 1px solid silver;*/
}

a {
    text-decoration: none;
}

li{
   list-style-type: none;
}

body {
    height: 100%;
}

header {
    width: 100%;
    height: 100vh;
    background: url("../img/Background.png") no-repeat top / cover;
}

header .container {
    display: flex;
    align-items: flex-end;
}

.container {
    margin: 0 auto;
    width: 80%;
    height: inherit;
    /*border: 1px solid silver;*/
}

.header {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.title {
    text-align: center;
    width: 60%;
}

.title h1 {
    font-size: 55px;
}

span {
    color: #f7ac53;
}

.title ul {
    width: 40%;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: lighter;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
}

.title ul li a {
    font-family: 'Open Sans', sans-serif;
}

.title ul li a:hover {
    color: #f7ac53;
}

.down {
    position: relative;
    bottom: 0;
}

.down a {
    font-weight: lighter;
    font-size: 30px;
    color: #f7ac53;
}

.down:hover {
    animation: bounce 1s infinite;
}

nav {
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

nav img {
    width: 50px;
    height: 50px;
}

nav a {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    position: relative;
    right: 0;
}

nav a:nth-child(2):hover {
    animation: bounce-left 0.6s forwards;
}

#services {
    background: #202020;
}

.part-header {
    text-align: center;
}

.part-header .vertical-line {
    margin: 0 auto 10px auto;
}

.vertical-line {
    width: 0;
    height: 150px;
    border: 1.3px solid #f7ac53;
}

.part-header h3 {
    font-family: "Open Sans", sans-serif;
    color: #f7ac53;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 25px;
}

.part-header h2 {
    font-size: 40px;
    width: 68%;
    line-height: 1.5em;
    margin: 50px auto 0 auto;
}

.services {
    margin: 0 auto;
    padding-bottom: 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-item h4 {
    margin-top: 25px;
    font-size: 30px;
}

.info {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #bbbbbb;
    line-height: 2em;
}

.service-item p {
    margin-top: 25px;
}

.service-item {
    margin-top: 120px;
    width: 230px;
}

.details {
    position: relative;
    left: 0;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
}

.details:hover {
    cursor: pointer;
    animation: bounce-right 0.6s forwards;
}

#portfolio {
    background: #181818;
}

#slider {
    padding-top: 120px;
    height: 550px;
    display: flex;
}

#side-header {
    position: relative;
    z-index: 1;
    width: 15%;
}

#side-header h2 {
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #f7ac53;
}

#side-header h3 {
    margin-top: 25px;
    font-size: 55px;
    font-weight: lighter;
    position: relative;
    z-index: 1;
    width: 400px;
}

.text_shadow {
    text-shadow: 1px 1px 4px #202020;
}

.project {
    margin: 0 auto;
    height: 550px;
    width: 70%;
    background: grey;
    position: relative;
    z-index: 0;
}

.slide-bar {
    margin: 0 auto;
    padding: 30px 0 120px;
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.slide {
    height: 0;
    width: 25px;
    border: 2px solid #5B5B5B;
}

.slide:hover {
    cursor: pointer;
}

.active-slide {
    border: 2px solid #f7ac53;
}

.slide-footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 15%;
    /*border: 1px solid red;*/
}

.slide-footer p {
    margin-bottom: 20px;
}

#testimonials {
    background: #202020;
}

.companies {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 100px 0;
}

.company {
    align-self: center;
    margin: 10px;
}

.companies img {
    height: auto;
    width: auto;
}

.fb-block {
    margin: 0 auto;
    width: 60%;
    background: #181818;
}

.photo {
    height: 70px;
    width: 70px;
    margin: 0 auto;
    background: #bbbbbb;
}

.fb-block p {
    padding: 30px 45px;
    text-align: center;
    font-size: 16px;
    color: #B1B1B1;
    line-height: 2em;
}

.box-shadow {
    box-shadow: 2px 2px 6px 4px #181818;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name p {
    color: #f7ac53;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0 30px;
}

.horizontal-line {
    height: 0;
    width: 150px;
    border-bottom: 2px solid #444444;
}

.job {
    margin: 0;
}

.job p {
    padding: 8px 0 30px;
    color: #fff;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
}

.feedback .slide-bar {
    margin-top: 20px;
}








@keyframes bounce {
    from {
        bottom: 0;
    }
    50% {
        bottom: 15px;
    }
    to {
        bottom: 0;
    }
}

@keyframes bounce-left {
    from {
        right: 0;
    }
    to {
        right: 10px;
    }
}

@keyframes bounce-right {
    from {
        left: 0;
    }
    to {
        left: 10px;
    }
}


@media screen and (max-width: 1024px) {
    .title ul {
        font-size: 20px;
        flex-direction: column;
        align-items: center;
    }
    .down {
        animation: bounce 1s infinite;
    }
}

@media screen and (max-width: 700px) {
    .title h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 500px) {
    .title h1 {
        font-size: 20px;
    }

    .title {
        width: 80%;
    }
}